
/* Nền và căn giữa */
.auth-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f5f5f5;
}

/* Thẻ card */
.auth-card {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 330px;
    padding-bottom: 20px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    justify-content: center;
    align-items: center;
}
.logo-link{
    text-decoration: none;
    color: #194f3d;
}
.logo-link:hover{
    color: #58976c;
}
/* Form */
.auth-form {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    width: 250px;
}

.auth-input {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.auth-button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background: #1f7a5c;
    color: #fff;
    cursor: pointer;
    font-size: 15px;
}
.auth-button:hover{
    background-color: #1b664d;
}
.auth-toggle {
    margin-top: 10px;
}

.auth-toggle span {
    color: blue;
    cursor: pointer;
}
